.data .des {
    font-family: 'Cairo';
}
.data li {
    padding: 20px 10px;
    display: block;
}
.data .usage {
    font-family: 'Cairo';
}
.sort {
    padding: 20px;
}
.sort input {
    display: inline-block;
    width: 75%;
    padding: 10px 20px;
}
.sort select {
    padding: 0 20px;
}
.sort {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}